:root {
  background-color: #ffeacf;
  background-image: url("./assets/orangecircuttest.png");
  background-position: center;
}


body {
  margin: auto;
  width: 92%;
  max-width: 1200px;
  max-width: 1400px;
  background-color: #C4D4C4;
  background-color: #daecda;
  /* background-image: url("./assets/dot-grid-green.png"); */
  box-shadow: 0px 0px 10px #3b3b3b8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#root {
  min-height: 100svh;
}

