:root {
  background-color: #ffeacf;
}


body {
  margin: auto;
  width: 86%;
  max-width: 1200px;
  background-color: #C4D4C4;
  box-shadow: 0px 0px 10px #3b3b3b8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#root {
  min-height: 100svh;
}

