/* footer */

.footer {
  background-color: var(--orange);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
.footer > :first-child {
    grid-column: 1 / 3;
}

.footer__thanks, .footer__pages, .footer__contact {
  padding: 40px;
}

.footer__nav-links {
  display: flex;
  flex-direction: column;
}

.footer__socials-box {
  display: flex;
}

.footer__social-link {
  border-radius: 10px;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.footer__social-link:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 900px) {

  .footer {
  grid-template-columns: 1fr 1fr 1fr;
  }

  .footer > :first-child {
    grid-column: 1 / 2;
}

}