:root {
  --green: #ffffffda;
  --orange: #FFB56B;

  --font-style: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-large: 1.4rem;
  --font-size-medium: 1.2rem;

  /* background-color: #deffff; */

  /* background-image: url("../assets/design/orangecircuttest.png"); */

  /* background-image: url(../assets/design/blue-wallpaper.jpg); */

  /* background-image: Linear-gradient(#deffff, #deffff), url("../assets/design/blue-wallpaper.jpg");
  background-blend-mode: overlay; */

  /* background-position: top;
  background-attachment: fixed;
  background-blend-mode: lighten; */

}

html {
  background-image:
    linear-gradient(rgba(222, 255, 255, 0.808), rgba(222,255,255,0.7)),
    url("../assets/design/blue-wallpaper.jpg");
    background-attachment: fixed;
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: var(--font-style)
}

body {
  margin: 0px;
  overflow-x: hidden;

}

#root {
  min-height: 100svh;
}

/* .whole-page {
  margin: auto;
  margin-top: 30px;
  width: 94%;
  max-width: 1200px;
  max-width: 1400px;
  background-color: var(--green);
  box-shadow: 0px 6px 10px #3c26ff8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 4px rgb(255, 184, 31);
  border: solid 4px rgb(180, 180, 180);
  overflow: visible;
  overflow-x: hidden;
} */

.whole-page {
  width: 94%;
  max-width: 1400px;
  margin: 30px auto;
  background-color: var(--green);
  border: solid 4px rgb(255, 184, 31);
  border: solid 4px rgb(180, 180, 180);
  /* overflow-x: hidden; */
}

@media (max-width: 700px) {


  .whole-page {
    width: 100%;
    border: none;
    margin: 0px;

  }
}